<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title>My Title</mat-card-title>
    <mat-card-subtitle>My subtitle</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://thumbs.web.sapo.io/?W=1550&H=0&delay_optim=1&webp=1&epic=ZTcwC1eeHCNealaUZMyqnlDTNKK/lUx10yBwjxiNGXCQLK+rX+JYanDLFAiZQlK927pKhtqnfrMdqhmkXMQsjGbxX6RpFsDRUsWsxX6BR8cTZyg="
    alt="Encontro europa">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button color="primary">SHARE</button>
  </mat-card-actions>
</mat-card>
